<!DOCTYPE html>
<html>
  <head>
      <title>Performance of best Baku hotels</title>
      <link rel="stylesheet" type="text/css" href="/css/chart.css">
      <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-core.min.js"></script>
      <script src="https://cdn.anychart.com/releases/8.0.1/js/anychart-pie.min.js"></script>
  </head>
  <body>
    <div id="container" style="width: 100%; height: 100%"></div>
    <script>
        anychart.onDocumentReady(function() {

          var data = [
              {x: "JW Marriott Absheron Baku Hotel", value: 12},
              {x: "Shah Palace Hotel", value: 5},
              {x: "Holiday Inn Baku", value: 6},
              {x: "Pullman Baku", value: 11},
              {x: "Austin Hotel", value: 9},
              {x: "Fly Inn Baku", value: 4},
              {x: "Hyatt Regency Baku", value: 12},
              {x: "Sapphire Hotel", value: 8},
              {x: "Jumeirah Bilgah Beach Hotel", value: 2}
          ];
            function edit(id) {
                jQuery.ajax({
                    type: "GET",
                    url: "getId",
                    data: "id= " + id,
                    datatype: "text",
                    success: function(data) {
                        console.log(data)
                    }
                });

                console.log("type is " + type);
            }

          // create the chart
          var chart = anychart.pie();

          // set the chart title
          chart.title("Performance of top 9 hotels in Baku");

          // add the data
          chart.data(data);

          // display the chart in the container
          chart.container('container');
          chart.draw();

        });
    </script>
  </body>
</html>